/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#woocommerce-product-data .woocommerce_options_panel .form-field._product_condition_field .wc-radios label {
	margin-left: 0;
}

.form-table td fieldset li {
	margin-bottom: 0;
}

#attrib_widget {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 400px;
}

#attrib_widget #pfg_product_attributes_key {
	flex-basis: 50%;
}

#attrib_widget #pfg_product_attributes_val {
	flex-basis: 50%;
	margin-left: 3px;
}

#attrib_widget button {
	display: inline-block;
	margin-left: 5px;
	font-size: 14px;
	line-height: 32px;
}

#attrib_map {
	margin-top: 15px;
}

#attrib_map .attrib-set {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	width: 400px;
    background-color: #00aadc;
    color: white;
    height: 25px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 5px 0;
}

#attrib_map .attrib-set .field {
	display: inline-block;
	margin-left: 15px;
	flex-basis: 50%;
}

#attrib_map .attrib-set .attrib {
	display: inline-block;
	padding-left: 5px;
	flex-basis: 50%;
}

#attrib_map .attrib-set button {
	box-shadow: 0 1px 0 #0087be;
	text-shadow: none;
	background-color: #0087be;
	border-style: solid;
	border-color: #0087be;
	margin-right: 10px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}

@media only screen and (max-width:782px) {

	#attrib_widget {
		width: 100%;
	}

	#attrib_map .attrib-set {
		width: 100%;
	}

	#attrib_map .attrib-set .field {
		margin-left: 10px;
	}

}

#attrib_map .attrib-set button:hover {
	filter: brightness(1.1);
}

#feed_management {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	width: 400px;
	height: 34px;
}

#feed_management button {
	font-size: 14px;
	line-height: 32px;
	max-height: 34px;
}

#feed_management .view-feed {
	flex-grow: 1;
	line-height: 32px;
	text-align: right;
}

#feed_management .view-url {
	padding-right: 10px;
}

#feed_management .load-icon {
	display: inline-block;
	padding-left: 15px;
}

#feed_management .load-icon > img {
	max-width: 34px;
	max-height: 34px;
}

#feed_management_error {
	width: 400px;
	color: red;
}

@media only screen and (max-width:782px) {

	#feed_management,
	#feed_management_error {
		width: 100%;
	}

}


